/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

form {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

input {
  width: 272px;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  border: 1px solid #808080;
  height: 40px;
}

button[type='submit'] {
  padding: 0;
  padding: 8px 16px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  background: #4e75ff;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 8px;
}

.list {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: calc((100% - 48px) / 3);
}
